<div class="transition-all duration-150 flex w-full px-4 py-6 relative">
    {% if is_granted('IS_AUTHENTICATED_FULLY') and trick.author.id is same as app.user.id %}
        <div class="flex absolute top-8 right-4">
            <a href="{{ path('trick_edit', {id: trick.id}) }}">
                <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2">
                    <i class="fa-regular fa-pen-to-square"></i>
                </button>
            </a>

            <button data-id="{{ trick.id }}" id="delete-button" onclick="addOpenModal()" data-modal-target="popup-modal" data-modal-toggle="popup-modal" type="button" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2">
                <i class="fa-solid fa-trash"></i>
            </button>

            {{ include('tricks/partials/_modal.html.twig', { id: trick.id, deleteRoute: 'trick_delete' }) }}
        </div>
    {% endif %}

    <div class="flex flex-col w-full items-stretch min-h-full pb-4 mb-6 transition-all duration-150
                    bg-white rounded-lg shadow-lg hover:shadow-2xl">
        <div class="md:flex-shrink-0">
            {% if trick.getMainMedia() %}
                <img src="{{ asset('uploads/images/' ~ trick.getMainMedia().getName()) }}"
                     alt="Blog Cover" class="object-contain w-full rounded-lg rounded-b-none md:h-56"/>
            {% else %}
                <img src='https://www.unfe.org/wp-content/uploads/2019/04/SM-placeholder-1024x512.png'
                     alt="Blog Cover" class="object-cover w-full rounded-lg rounded-b-none md:h-56"/>
            {% endif %}
        </div>
        <div class="flex flex-wrap items-center flex-1 px-4 py-1 text-center mx-auto">
            <a href="{{ path('trick_show', { id: trick.id }) }}" class="hover:underline">
                <h2 class="text-2xl font-bold tracking-normal text-gray-800">
                    {{ trick.name }}
                </h2>
            </a>
        </div>
        <hr class="border-gray-300" />
        <p
                class="w-full my-2 px-4 overflow-hidden text-sm text-justify text-gray-700 line-clamp-3"
        >
            {{ trick.description }}
        </p>
        <hr class="border-gray-300" />
        <section class="px-4 py-2 mt-2">
            <div class="flex items-center justify-between">
                <div class="flex items-center flex-1">
                    {% if trick.author.imageName is not null and trick.author.imageName is defined %}
                        <img
                                src="{{ asset('uploads/images/' ~ trick.author.imageName) }}"
                                class="object-cover h-10 rounded-full"
                                alt="Avatar"
                        />
                    {% else %}
                        <img
                                class="object-cover h-10 rounded-full"
                                src="https://thumbs.dreamstime.com/b/default-avatar-photo-placeholder-profile-icon-eps-file-easy-to-edit-default-avatar-photo-placeholder-profile-icon-124557887.jpg"
                                alt="Avatar"
                        />
                    {% endif %}
                    <div class="flex flex-col mx-2">
                        <a href="{{ path('user_profile', {id: trick.author.id}) }}" class="font-semibold text-gray-700 hover:underline">
                            {{ trick.author.username }}
                        </a>
                        <span class="text-xs text-gray-600">
                                    {{ trick.createdAt|date('d/m/Y') }}
                            </span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>