<!-- COMMENTS SECTION -->
<section class="container px-5 pt-24 pb-6 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-col">
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-lg lg:text-2xl font-bold text-gray-900">Discussion ({{ comments|length }})</h2>
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ include('comment/comment_form.html.twig') }}
        {% else %}
        <div class="flex items-center p-4 mb-4 text-sm text-blue-800
                        rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
            <i class="fa-solid fa-circle-info"></i>
            <div>
                <span class="font-medium ml-4">You must be authenticated to add the comment</span>
            </div>
        </div>
        {% endif %}

        {% for comment in comments %}
        <article class="p-6 text-base bg-white rounded-lg">

            <footer class="flex justify-between items-center mb-2">
                <div class="flex items-center">
                    <p class="inline-flex items-center mr-3 text-sm text-gray-900 font-semibold"><img
                                class="mr-2 w-6 h-6 rounded-full"
                                src="https://static.thenounproject.com/png/354384-200.png"
                                alt="Michael Gough">
                        {{ comment.author.username }}
                    </p>
                    <p class="text-sm text-gray-600">
                        {{ comment.createdAt|date('d/m/Y') }}
                    </p>
                </div>

                <!-- Dropdown menu for deleting a comment -->
            </footer>
            <p class="text-gray-500">{{ comment.message  }}</p>
        </article>
        {% endfor %}
    </div>
</section>