{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
{{ include('shared/_nav.html.twig') }}
<section class="text-gray-700 body-font overflow-hidden bg-white">
    <div class="container px-4 lg:w-4/6 py-6 mx-auto relative">
        <div class="absolute top-10 right-6">
            {{ include('tricks/partials/_dropdown.html.twig', { trick: trick }) }}
            {{ include('tricks/partials/_modal.html.twig', { id: trick.id, deleteRoute: 'trick_delete' }) }}
        </div>

        <div class="w-full">
            {% if trick.media|length %}
                <img src="{{ asset('uploads/images/' ~ trick.getMainMedia.name) }}"
                     alt="Trick Cover" class="object-cover w-full h-[400px] rounded-lg rounded-b-none"/>
            {% else %}
                <img src='https://www.unfe.org/wp-content/uploads/2019/04/SM-placeholder-1024x512.png'
                     alt="Blog Cover" class="object-cover w-full rounded-lg rounded-b-none md:h-56"/>
            {% endif %}
        </div>

        <div class="container hidden sm:block" id="mediaContainer">
            <div class="pt-2 pb-4 mx-auto grid grid-cols-2 sm:grid-cols-2 md:grid-cols-4 gap-2">
                {% for media in trick.media %}
                    {% if media.type == 'image' %}
                        <div class="h-[150px] bg-white border border-gray-200 rounded-lg shadow">
                            <a href="#">
                                <img src="{{ asset('uploads/images/' ~ media.name) }}" alt="Blog Cover" class="rounded-t-lg h-[150px] w-full object-cover"/>
                            </a>
                        </div>
                    {% elseif media.type == 'video' %}
                        {% set videoId = media.name | split('v=') | last %}
                        <iframe width="100%" height="150" src="https://www.youtube.com/embed/{{ videoId }}"></iframe>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
        <button id="toggleButton" class="block mx-auto my-4  py-2 px-3 text-white rounded bg-blue-600 hover:bg-blue-700 md:border-0 md:p-0 sm:hidden">See medias</button>
    </div>
    <div class="container px-4 lg:w-4/6 py-6 mx-auto">
        <span class="title-font font-medium text-2xl text-gray-700">{{ trick.description }}</span>
        <hr class="h-px my-8 bg-gray-200 border-0">
        <div class="flex justify-between">
            <h2 class="text-sm title-font text-gray-500 tracking-widest">
                {{ trick.author.username }}
            </h2>
            <p class="leading-relaxed text-sm text-gray-400">
                Category: {{ trick.category.name }}
            </p>
            <p class="leading-relaxed text-sm text-gray-400">
                {{ trick.createdAt|date('d/m/Y') }}
            </p>
        </div>
    </div>
</section>

{{ include('comment/_comments_list.html.twig', { trick: trick, comments: comments|default([])}) }}

{% endblock %}
